/* General header styling */
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Light theme header */
.light-theme .app-header {
    background-color: #f8f9fa;
    color: #343a40;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Dark theme header */
.dark-theme .app-header {
    background-color: #343a40;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

/* Additional styles for links in the header */
.app-header a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: color 0.3s;
}

.light-theme .app-header a:hover {
    color: #212529; /* Darker hover color in light theme */
}

.dark-theme .app-header a:hover {
    color: #e9ecef; /* Lighter hover color in dark theme */
}

/* Theme toggle button styling */
.theme-toggle-btn {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: pink;
}

/* Logo styling */
.logo {
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
}

.logo-letter {
    padding: 0 0.05em;
}

.logo-letter-1 {
    color: #f44336; /* Red */
}

.logo-letter-2 {
    color: #E91E63; /* Pink */
}

.logo-letter-3 {
    color: #9C27B0; /* Purple */
}

.logo-letter-4 {
    color: #673AB7; /* Deep Purple */
}